In [1]:
import os 
os.chdir('../src/')
print(os.getcwd())
from traffic_analysis.d05_evaluation.chunk_evaluator import ChunkEvaluator
from traffic_analysis.d00_utils.load_confs import load_parameters

import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
params = load_parameters()
pd.set_option('display.max_columns', 500)

%matplotlib inline

C:\Users\Caroline Wang\OneDrive\DSSG\air_pollution_estimation\src

Read in video level data

In [2]:
xml_paths = ["C:\\Users\\Caroline Wang\\OneDrive\\DSSG\\air_pollution_estimation\\annotations\\15_2019-06-29_13-01-03.094068_00001.01252.xml",
            "C:\\Users\\Caroline Wang\\OneDrive\\DSSG\\air_pollution_estimation\\annotations\\14_2019-06-29_13-01-19.744908_00001.05900.xml"]

video_level_dfs = pd.read_csv("../data/carolinetemp/video_level_df.csv",
                    dtype={"camera_id": str},
                    parse_dates=["video_upload_datetime"])
del video_level_dfs['Unnamed: 0']

video_level_df_list = []
video_level_groups = video_level_dfs.groupby(['camera_id', 'video_upload_datetime'])
for name, group in video_level_groups: 
    video_level_df_list.append(group)

Run video level evaluator

In [3]:
chunk_evaluator = ChunkEvaluator(annotation_xml_paths=xml_paths,
                                 params=params,
                                 video_level_dfs=video_level_df_list,
                                 frame_level_dfs = None)

video_level_diff_df = chunk_evaluator.evaluate_video_level()
video_level_stats_df = chunk_evaluator.aggregate_video_stats_all_vehicle_types(video_level_diff_df)

<Element 'annotations' at 0x000001EB89F8C908>

C:\Users\Caroline Wang\OneDrive\DSSG\air_pollution_estimation\src\traffic_analysis\d05_evaluation\video_level_evaluator.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.loc[len(df) + 1] = new_row_dict

<Element 'annotations' at 0x000001EB8A1E7048>

C:\Users\Caroline Wang\OneDrive\DSSG\air_pollution_estimation\src\traffic_analysis\d05_evaluation\video_level_evaluator.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.loc[len(df) + 1] = new_row_dict

In [4]:
video_level_diff_df

,camera_id,video_upload_datetime,vehicle_type,y_pred-y_counts,y_pred-y_starts,y_pred-y_stops,y_pred-y_parked
0,00001.01252,2019-06-29 13:01:03.094068,bus,0,0.0,0.0,0
1,00001.01252,2019-06-29 13:01:03.094068,car,3,0.0,3.0,0
2,00001.01252,2019-06-29 13:01:03.094068,motorbike,-2,0.0,0.0,0
3,00001.01252,2019-06-29 13:01:03.094068,truck,-1,0.0,0.0,0
0,00001.05900,2019-06-29 13:01:19.744908,bus,0,-1.0,-1.0,0
1,00001.05900,2019-06-29 13:01:19.744908,car,-2,3.0,-1.0,0
2,00001.05900,2019-06-29 13:01:19.744908,motorbike,-2,0.0,0.0,0
3,00001.05900,2019-06-29 13:01:19.744908,truck,-2,0.0,0.0,0

In [5]:
video_level_stats_df

    statistic    counts     stops    starts  parked vehicle_type  n_videos
0   mean_diff  0.000000 -0.500000 -0.500000     0.0          bus         2
1        rmse  0.000000  0.707107  0.707107     0.0          bus         2
2          sd  0.000000  0.500000  0.500000     0.0          bus         2
3   mean_diff  0.500000  1.000000  1.500000     0.0          car         2
4        rmse  2.549510  2.236068  2.121320     0.0          car         2
5          sd  2.500000  2.000000  1.500000     0.0          car         2
6   mean_diff -2.000000  0.000000  0.000000     0.0    motorbike         2
7        rmse  2.000000  0.000000  0.000000     0.0    motorbike         2
8          sd  0.000000  0.000000  0.000000     0.0    motorbike         2
9   mean_diff -1.500000  0.000000  0.000000     0.0        truck         2
10       rmse  1.581139  0.000000  0.000000     0.0        truck         2
11         sd  0.500000  0.000000  0.000000     0.0        truck         2